page-input-siswa {
    .sembunyi{
        display: none;
    }
    .profil{
        width: 100%;
        text-align: center;
        img{
            width: 200px;
            height: 200px;
            border-radius: 100%;
            margin: 20px auto;
        }
    }
}
